<!DOCTYPE html>

<html lang="fr">

<head>

    <meta charset="UTF-8">
    <title>Suppression UE</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css.css' %}">

    <script>

        function RedirectionURL(url) {
            window.location.href = url;
        }

    </script>

</head>

<body>

    <div class="connexion">

        <h2>Voulez-vous vraiment supprimer {{ ue.code_ue }} - {{ ue.nom }} ?</h2>

        <form method="POST">

            {% csrf_token %}
            <button type="submit">Confirmer</button>

        </form>

        <br>
        <button id="BoutonGestionUE" onclick="RedirectionURL('{% url 'gestion_ue' %}')">Gestion UE</button>
        <button id="BoutonAjoutUE" onclick="RedirectionURL('{% url 'ajout_ue' %}')">Ajout UE</button>
        <br>
        <button id="BoutonProfil" onclick="RedirectionURL('{% url 'profil' %}')">Profil</button>

    </div>

</body>

</html>
