<!DOCTYPE html>

<html lang="fr">

<head>

    <meta charset="UTF-8">
    <title>Inscription</title>

    <style>

        .BlocCentral {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

    </style>

    <script>

        function RedirectionURL(url) {
            window.location.href = url;
        }

    </script>

</head>

<body>

    <div class="BlocCentral">

        <h2>Inscription</h2>

        <form method="post">

            {% csrf_token %}
            {{ formulaire.as_p }}
            <button type="submit">S'inscrire</button>

        </form>

        <button id="BoutonAccueil" onclick="RedirectionURL('{% url 'accueil' %}')">Accueil</button>

    </div>

</body>

</html>