<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">
    <title>Accueil</title>

    <style>

        .BlocCentral {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

    </style>

    <script>

        function RedirectionURL(url) {
            window.location.href = url;
        }

    </script>

</head>

<body>

    <div class="BlocCentral">

        <h2>Bienvenue sur la page d'accueil !</h2>

        <!-- Affiche les boutons si l'utilisateur n'est pas authentifié -->
        {% if not user.is_authenticated %}
            <button id="BoutonConnexion" onclick="RedirectionURL('{% url 'connexion' %}')">Connexion</button>
            <button id="BoutonInscription" onclick="RedirectionURL('{% url 'inscription' %}')">Inscription</button>

        {% elif user.is_authenticated %}

            <!-- Affiche le bouton si l'utilisateur n'est PAS un superuser -->
            {% if not user.is_superuser %}
            <button id="BoutonProfil" onclick="RedirectionURL('{% url 'profil' %}')">Profil</button>
            {% endif %}

            <!-- Affiche le bouton si l'utilisateur est authentifié -->
            <button id="BoutonDeconnexion" onclick="RedirectionURL('{% url 'deconnexion' %}')">Déconnexion</button>

        {% endif %}

    </div>

</body>

</html>
