<!DOCTYPE html>
<html>
    <head>
        <title>Documentaion</title>
        <meta charset="utf-8"/>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css.css' %}">
    </head>
    <body>
        <div class="page">
            <div class="all">
                <nav>
                    <a href="https://www.google.fr">
                        <button>DOCUMENTATION</button></a>
                    <a href="about_us.html">
                        <button>ABOUT US</button></a>
                    <a href="index.html">
                        <button>ACCUEIL</button></a>
                    <a href="https://www.google.fr">
                        <button>PROFIL</button></a>
                </nav>
                <div class="login">
                    <a href="https://www.google.fr" ><img src="{% static 'profil.png' %}" /></a>
                </div>
            </div>
            <div id="wrap">
                <article class="docH1">
                    <h1>Bienvenue sur la page de docummentation du projet sae203, le but du projet est donc de créer une application permet de gerer des notes. Pour se faire nous avons utilisé plusieurs technologie tel que les bases de données, les serveurs web, et bien d'autre. Pour se faire nous étions par groupe de trois à savoir ici HELL Noa, TREPPIER Timothée, ainsi que DE AZEVEDO Kevin.<br>

                        pour avoir accès à plus de detail merci de vous référer à ce lien --> <a href="https://marked-nail-e06.notion.site/Documentation-notike-gestion-ltd-c8560c38252549ecba4a7114478648d7">cliquez ici</a> </h1> 
                </article>

            </div>           
            
        </div>
    </body>
</html>
