<!DOCTYPE html>


<!DOCTYPE html>
<html>
    <head>
        <title>Profil</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="css.css">
    </head>
    <body>
        <div class="page">
            <div class="all">
                <nav>
                    <a href="{% url 'accueil' %}"><button>Retour à l'accueil</button></a>
                    <a href="{% url 'deconnexion' %}"><button>Se déconnecter</button></a>
                </nav>
                <div class="login">
                    <img src="test.webp"/></a></a>
                </div>
            </div>  
            <aside>
                    <article class="information">
                        <h1>Votre page de profil</h1>
                        <p>Nom d'utilisateur: {{ user.username }}</p>
                        <p>@Email: {{ user.email }}</p>
                        <p>Dernière connexion : {{ user.last_login }}</p>
                    </article>
                </aside>
                    
        </div>
    </body>
</html>
